<% if user_signed_in? %>
  <li><%= link_to 'CLIENTES', clientes_path, class: 'navbar-brand' %></li>
  <li><%#= link_to 'IMAGENES', albums_path, class: 'navbar-brand' %></li>
  <li><%#= link_to 'VIDEOS', static_pages_video_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'CONTACTENOS', static_pages_contact_path, class: 'navbar-brand' %></li>

  	<% if user_signed_in? and current_user.role == 'gerente' %>  
  		<li><%= link_to 'USUARIOS', users_path, class: 'navbar-brand' %></li>
    <% elsif user_signed_in? and current_user.role == 'administrador' %>  
      <li><%= link_to 'USUARIOS', users_path, class: 'navbar-brand' %></li>
    <% end %>
    
  <li><%= link_to 'EDITAR CUENTA', edit_user_registration_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'CERRAR SESION', destroy_user_session_path, class: 'navbar-brand', :method=>'delete' %></li>
  <li><%= link_to 'AYUDA', static_pages_help_path, class: 'navbar-brand' %></li>
  <li><%= link_to current_user.username, class: 'navbar-brand' %></li>

<% else %>

  <li><%#= link_to 'IMAGENES', albums_path %></li>
  <li><%#= link_to 'VIDEOS', static_pages_video_path %></li>
  <li><%= link_to 'CONTACTENOS', static_pages_contact_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'INICIAR SESION', new_user_session_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'CREAR CUENTA', new_user_registration_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'AYUDA', static_pages_help_path, class: 'navbar-brand' %></li>

<% end %>