<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FiestayCumbia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FiestayCumbia" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%#= render 'layouts/footer' %>
    <footer class="footer">
      <small>
      Fiesta y Cumbia todos los derechos reservados © 05/05/2016
      </small>
      <nav>
      <ul>
        <li><%= link_to "Créditos", static_pages_about_path %></li>
        <li><a href="http://www.fiestaycumbia.comyr.com" target="_blank">FyC-SoftWare</a></li>
      </ul>
      </nav>
    </footer>
  </body>
</html>
